<style>
    nav {
        font-size:14px;
    }
    
    .nav-links {
            display: flex;
            gap:10px;
        }

        .nav-links a {
            color:inherit;
            opacity:0.5;
            text-decoration:none;
        }

        .nav-links a:link {
            color:inherit;
            opacity:0.5;
        }

        .nav-links a:hover {
            color:inherit;
            opacity:0.75;
        }

        .nav-links a:visited {
            color:inherit;
            opacity:0.5;
        }
        
        .nav-brand {
            font-weight:500;
            margin-right:15px;
            text-decoration: none;
        }
</style>
<nav>
    <a class="nav-brand" href="/">DerekYT</span>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/updates">Updates</a>
    </div>
</nav>
